@{
  Layout = "_Layout";
}
<h3>Add a new Artist to your collection :)</h3>
<form action="/artists" method="post">
  <label for="artistName">Artist/Group Name:</label>
  <input id="artistName" name="artistName" type="text">
  <button type="submit">Submit</button>
</form>

<p><a href="/artists">Back to artists.</a></p>