@{
  Layout = "_Layout";
}
@using Organizer.Models;

<h3>Here are all the albums from <strong>@Model["artist"].Name:</strong> </h3>

  @if (@Model["albums"].Count == 0)
{
  <h3>No Albums have been added yet! Go add your favorite</h3>
}
  @foreach (Album element in Model["albums"])
{
  <h4><a href='/artists/@Model["artist"].Id/albums/@element.Id'>@element.Title</a></h4>
}

<form action='/artists/@Model["artist"].Id/albums/new' method="get">
  <button class="btn btn-primary btn-lrg">Add an Album!</button>
</form>
<p><a href="/artists">Back to artists</a></p>
