@{
  Layout = "_Layout";
}
@using Organizer.Models;

<h3>Music Organizer</h3>
@if (Model.Count == 0)
{
  <p>There are no albums in the list.</p>
}
<ul>
  @foreach (Album album in Model)
  {
    <li><a href='/albums/@album.Id'>@album.Title</a></li>
  }
</ul>

<form action="/albums/new" method="get">
  <button class="btn btn-primary btn-lrg">Add an Album!</button>
</form>

<form action="/albums/delete" method="post">
  <button type="submit" name="button" class="btn btn-primary btn-lrg">Clear All Items</button>
</form>
