@{
  Layout = "_Layout";
}
@using Organizer.Models

<h3>Add a new album to artist: @Model.Name</h3>
<form action="/artists/@Model.Id/albums" method="post">
  <input id="artist" name="artist" type="hidden" value="@Model.Name">
  <label for="title">Album Title</label>
  <input type="text" name="titles" id="title">
  <button type="submit">Submit</button>
</form>
<p><a href="/artists">Back to artists</a></p>
