@{
  Layout = "_Layout";
}
<h3>Add a new album to your collection :)</h3>
<form action="/albums" method="post">
  <label for="title">Album Name:</label>
  <input id="title" name="title" type="text">
    <label for="artist">Album artist:</label>
  <input id="artist" name="artist" type="text">
  <button type="submit">Submit</button>
</form>
