@{
  Layout = "_Layout";
}
<h3>Album Details: </h3>

    <h4>Title: @Model["album"].Title</h4>
    <h4>Artist: @Model["artist"].Name</h4>

    <a href='/artists/@Model["artist"].Id/albums/new'>Add another item</a>
    <br>
    <a href='/artists'>View all artists</a>