@{
  Layout = "_Layout";
}
<h3>Tired of not knowing what albums you own. Look no further! Here is a handy way to organize what you got!</h3>
<form action="/albums/new" method="get">
  <button class="btn btn-primary btn-lrg">Add an Album!</button>
</form>
<form action="/albums" method="get">
  <button class="btn btn-primary btn-lrg">View your albums!</button>
</form>

